{% extends 'core/base.html' %} {%load static%} {% block content %}

    <div class="page-header">
      <img src="{% static 'img/blob.png' %}" class="path">
      <img src="{% static 'img/path2.png' %}" class="path2">
      <img src="{% static 'img/triunghiuri.png' %}" class="shapes triangle">
      <img src="{% static 'img/waves.png' %}" class="shapes wave">
      <img src="{% static 'img/patrat.png' %}" class="shapes squares">
      <img src="{% static 'img/cercuri.png' %}" class="shapes circle">
      <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
            <h1 class="text-white">About
              <br />
              <span class="text-white">Peak Miners Fx</span>
            </h1>
            <p class="text-white mb-3"><i>Our Incredible Journey in the World of Cryptocurrency Mining</i></p>
            <p class="text-white mb-3">Welcome to Peak Miners FX, where we embark on an extraordinary journey that
              revolutionized the landscape of cryptocurrency mining. Founded by visionary pioneers in 2010, our story
              began with a shared dream to unlock the untapped potential of digital currencies and create a haven for
              investors seeking lucrative opportunities in the rapidly evolving blockchain ecosystem.
            </p>
          </div>
          <div class="col-lg-4 col-md-5">
            <img src="{% static 'img/bitcoin.png' %}" alt="Circle image" class="img-fluid">
          </div>
        </div>
      </div>

    </div>
    <section class="section section-lg">
      <div class="container">
        <h1 class="text-center"> Our Story</h1>

        <div class=" mt-5 row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-12 col-md-12">
            <h2 class="text-white">Genesis of Innovation </h2>
            <p class="text-white mb-3">Our journey began in the heart of Silicon Valley, where a group of passionate
              tech enthusiasts, financial experts, and blockchain gurus converged to harness the transformative power of
              cryptocurrencies. Armed with relentless curiosity and a thirst for innovation, we pioneered cutting-edge
              mining techniques that would propel us to the forefront of the digital revolution.
            </p>
          </div>
          <div class="col-lg-12 col-md-12">
            <h2 class="text-white">Unyielding Dedication to excelence </h2>
            <p class="text-white mb-3">From our humble beginnings, we made it our mission to set new industry standards
              for excellence and transparency. Our team's relentless pursuit of perfection and unwavering dedication to
              delivering exceptional results became the driving force behind our exponential growth.
            </p>
          </div>
          <div class="col-lg-12 col-md-12">
            <h2 class="text-white">The Cryptocurrency Mining Revolution </h2>
            <p class="text-white mb-3">As the cryptocurrency market soared to new heights, we stood firm as the vanguard
              of the mining industry. Leveraging our unparalleled expertise, we designed state-of-the-art mining rigs
              and deployed them in strategic locations worldwide, maximizing mining efficiency and profitability for our
              clients.
            </p>
          </div>
          <div class="col-lg-12 col-md-12">
            <h2 class="text-white">Trusted Partnerships and Client Satisfaction</span>
            </h2>
            <p class="text-white mb-3">Over the years, Peak Miners FX forged enduring partnerships with the world's
              leading cryptocurrency exchanges and blockchain experts. Our clients' satisfaction and success remained at
              the core of everything we do, and we take pride in being the catalyst for their financial achievements.
            </p>
          </div>
          <div class="col-lg-12 col-md-12">
            <h2 class="text-white">The Dawn of Peak Miners FX</span>
            </h2>
            <p class="text-white mb-3">In 2017, we proudly unveiled Peak Miners FX - a game-changing platform that
              transcends conventional mining services. Our platform seamlessly integrates advanced algorithms,
              artificial intelligence, and machine learning to optimize mining performance, ensuring our clients reap
              substantial rewards in the fast-paced crypto world.
            </p>
          </div>
          <div class="col-lg-12 col-md-12">
            <h2 class="text-white">Empowering Global Investors</span>
            </h2>
            <p class="text-white mb-3">Today, Peak Miners FX stands tall as a beacon of trust and prosperity, empowering
              millions of global investors to seize the boundless opportunities presented by cryptocurrencies. From
              seasoned traders to first-time enthusiasts, we have democratized access to the world of digital assets,
              providing a level playing field for all.
            </p>
          </div>
          <div class="col-lg-12 col-md-12">
            <h2 class="text-white">Our Vision - The Future Unveiled</span>
            </h2>
            <p class="text-white mb-3">Our journey is far from over. As we march towards the future, our vision remains
              clear - to lead the world in shaping the future of blockchain and cryptocurrency. With our sights set on
              technological innovation and unwavering commitment, we continue to push the boundaries of what's possible,
              redefining the landscape of the digital economy.
            </p>
          </div>
          <div class="col-lg-12 col-md-12">
            <h2 class="text-white">Join Us on This Extraordinary Expedition</span>
            </h2>
            <p class="text-white mb-3">At Peak Miners FX, we invite you to join us on this extraordinary expedition.
              Whether you're an investor seeking exponential growth, a trailblazer in the tech world, or simply someone
              curious about the power of cryptocurrencies, we welcome you to be a part of our family. Together, we'll
              chart new territories, unlock untold possibilities, and reshape the future of finance.
            </p>
          </div>
          <p><i>Welcome to Peak Miners FX - Where Innovation Meets Prosperity.</i></p>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <img src="assets/img/path4.png" class="path">
      <img src="assets/img/path2.png" class="path2">
      <div class="col-md-12">
        <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <!-- <ol class="carousel-indicators d-flex justify-content-center">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
             </ol> -->
        <div class="carousel-inner mb-5">
          <div class="carousel-item active">
            <div class="container text-center">
              <small class="d-block text-uppercase font-weight-bold mb-4"
                >Testimonial</small
              >
              <img
                src="{% static 'img/pic1.jpg' %}"
                alt="Raised circle image"
                class="img-fluid rounded-circle shadow-lg"
                style="width: 150px"
              />
              <p class="mt-3">
                "I am thrilled with the outstanding results from Peak Miners Fx.
                Their expertise in cryptocurrency mining is unmatched, and their
                personalized services catered to my unique needs. It's been a
                seamless and successful partnership, and I highly recommend them!"
              </p>
              <p class="font-weight-bold">- Mike, satisfied client</p>
            </div>
          </div>
  
          <div class="carousel-item">
            <div class="container text-center">
              <small class="d-block text-uppercase font-weight-bold mb-4"
                >Testimonial</small
              >
              <img
                src="{% static 'img/pic2.jpg'%}"
                alt="Raised circle image"
                class="img-fluid rounded-circle shadow-lg"
                style="width: 150px"
              />
              <p class="mt-3">
                "Peak Miners Fx has been a game-changer for my crypto mining
                journey. Their cutting-edge technology and dedicated support team
                have helped me achieve exceptional returns. I'm beyond satisfied
                with their services!"
              </p>
              <p class="font-weight-bold">- Sarah, enthusiastic miner</p>
            </div>
          </div>
  
          <div class="carousel-item">
            <div class="container text-center">
              <small class="d-block text-uppercase font-weight-bold mb-4"
                >Testimonial</small
              >
              <img
                src="{% static 'img/pic3.jpg'%}"
                alt="Raised circle image"
                class="img-fluid rounded-circle shadow-lg"
                style="width: 150px"
              />
              <p class="mt-3">
                "Choosing Peak Miners Fx was the best decision I made for my
                crypto mining venture. Their expertise and professionalism are
                second to none. The results have been exceptional, and I
                confidently recommend them to anyone seeking top-tier mining
                services!"
              </p>
              <p class="font-weight-bold">- John, successful investor</p>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


        <!-- <div class="card card-chart card-plain">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6 text-left">
                <hr class="line-primary">
                <h5 class="card-category">Total Investments</h5>
                <h2 class="card-title">Performance</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig"></canvas>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <section class="section section-lg section-coins">
      <img src="{% static 'img/path3.png'%}" class="path">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <hr class="line-info">
            <h1>Choose the plan
              <span class="text-info">that fits your needs</span>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-coin card-plain">
              <div class="card-header">
                <img src="{% static 'img/bitcoin.png'%}" class="img-center img-fluid">
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h4 class="text-uppercase">Peak Gold</h4>
                    <span>Plan</span>
                    <hr class="line-primary">
                  </div>
                </div>
                <div class="row">
                  <ul class="list-group">
                    <li class="list-group-item">Min: $300</li>
                    <li class="list-group-item">Get x3</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary btn-simple">Get plan</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-coin card-plain">
              <div class="card-header">
                <img src="{% static 'img/etherum.png' %}" class="img-center img-fluid">
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h4 class="text-uppercase">Peak Platinum</h4>
                    <span>Plan</span>
                    <hr class="line-success">
                  </div>
                </div>
                <div class="row">
                  <ul class="list-group">
                    <li class="list-group-item">Min: $2,500</li>
                    <li class="list-group-item">Get x5</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-success btn-simple">Get plan</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-coin card-plain">
              <div class="card-header">
                <img src="{% static 'img/ripp.png'%}" class="img-center img-fluid">
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h4 class="text-uppercase">Peak Diamond</h4>
                    <span>Plan</span>
                    <hr class="line-info">
                  </div>
                </div>
                <div class="row">
                  <ul class="list-group">
                    <li class="list-group-item">Min: $50,000</li>
                    <li class="list-group-item">Get x10</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-info btn-simple">Get plan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%endblock%}