{% extends 'core/base.html' %} {%load static%} {% block content %}
<div class="page-header">
  <img src="{% static 'img/blob.png' %}" class="path" />
  <img src="{% static 'img/path2.png' %}" class="path2" />
  <img src="{% static 'img/triunghiuri.png' %}" class="shapes triangle" />
  <img src="{% static 'img/waves.png' %}" class="shapes wave" />
  <img src="{% static 'img/patrat.png' %}" class="shapes squares" />
  <img src="{% static 'img/cercuri.png' %}" class="shapes circle" />
  <div class="content-center">
    <div
      class="row row-grid justify-content-between align-items-center text-left"
    >
      <div class="col-lg-6 col-md-6">
        <h1 class="text-white">
          Welcome to
          <br />
          <span class="text-white">Peak Miners Fx</span>
        </h1>
        <p class="text-white mb-3">
          At Peak Miners Fx, we are passionate about cryptocurrencies and the
          revolutionary potential they hold. As a leading cryptocurrency mining
          company, we strive to provide the most efficient and reliable mining
          solutions to individuals and businesses alike.
        </p>
        <div class="btn-wrapper mb-3">
          <p class="category text-success d-inline">earn above 10%/mo</p>
          <a href="#get-started" class="btn btn-success btn-link btn-sm"
            ><i class="tim-icons icon-minimal-right"></i
          ></a>
          <!-- Link to Get Started -->
        </div>
        <!-- <div class="btn-wrapper">
               <div class="button-container">
                 <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                   <i class="fab fa-twitter"></i>
                 </button>
                 <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                   <i class="fab fa-dribbble"></i>
                 </button>
                 <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                   <i class="fab fa-facebook"></i>
                 </button>
               </div>
             </div> -->
      </div>
      <div class="col-lg-4 col-md-5">
        <img
          src="{% static 'img/bitcoin.png'%}"
          alt="Circle image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
<section class="section section-lg">
  <section class="section">
    <img src="{% static 'img/path4.png'%}" class="path" />
    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-md-5 mt-lg-5">
          <div class="row">
            <div class="col-lg-6 col-sm-12 px-2 py-2">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="tim-icons icon-trophy text-warning"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-title">24/7</p>
                        <p></p>
                        <p class="card-category">Award Winning Support Team</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 px-2 py-2">
              <div class="card card-stats upper bg-default">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="tim-icons icon-coins text-white"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-title">247</p>
                        <p></p>
                        <p class="card-category">Mining techniques</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12 px-2 py-2">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="tim-icons icon-sound-wave text-info"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-title">99%</p>
                        <p></p>
                        <p class="card-category">Uptime Record</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 px-2 py-2">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="tim-icons icon-credit-card text-success"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-title">100/100</p>
                        <p></p>
                        <p class="card-category">Eco-Mining Champion</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <h1>
              A New Era of <br />
              Mining Rigs
            </h1>
            <p>
              Our state-of-the-art mining rigs redefine performance, unlocking
              new possibilities in the realm of cryptocurrency mining.
            </p>
            <br />
            <p>
              Join us at Peak Miners Fx, where art and innovation converge to
              create a new era in cryptocurrency mining. With us, the future is
              brighter than ever before!
            </p>
            <!-- <br />
                 <a href="#" class="font-weight-bold text-info mt-5">Show all <i
                     class="tim-icons icon-minimal-right text-info"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="section section-lg">
  <img src="{% static 'img/path4.png' %}" class="path" />
  <img src="{% static 'img/path5.png'%}" class="path2" />
  <img src="{% static 'img/path2.png'%}" class="path3" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h1 class="text-center" id="get-started">How To Get Started</h1>
        <div class="row row-grid justify-content-center">
          <div class="col-lg-3">
            <div class="info">
              <div class="icon icon-primary">
                <i class="tim-icons icon-money-coins"></i>
              </div>
              <h4 class="info-title">1: Register an Account</h4>
              <hr class="line-primary" />
              <p>
                Here, you will find a "Sign Up" or "Register" button. Click on
                it to get started. Fill in the required information, such as
                your name, email address, and a secure password. Once you've
                provided the necessary details, check your email for a
                verification link, and click on it to complete the registration
                process. By registering your account, you gain access to all the
                exceptional mining services that Peak Miners Fx has to offer.
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="info">
              <div class="icon icon-warning">
                <i class="tim-icons icon-chart-pie-36"></i>
              </div>
              <h4 class="info-title">2: Choose A Mining Package</h4>
              <hr class="line-warning" />
              <p>
                Now that you have a registered account, log in using your
                credentials. Take some time to explore our range of mining
                packages, each designed to cater to different needs and
                budgets.When you've made your decision, click on the "Choose
                Package" or "Upgrade" button next to your selected package.
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="info">
              <div class="icon icon-success">
                <i class="tim-icons icon-single-02"></i>
              </div>
              <h4 class="info-title">3: Deposit and Start Mining</h4>
              <hr class="line-success" />
              <p>
                After selecting your mining package, deposit funds into your
                Peak Miners Fx account using secure payment options, including
                cryptocurrencies. Once confirmed, mining begins automatically
                with state-of-the-art rigs, generating earnings for you. Watch
                your investments grow as you enter the exciting world of
                cryptocurrency mining.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg section-safe">
  <img src="{% static 'img/path5.png' %}" class="path" />
  <div class="container">
    <div class="row row-grid justify-content-between">
      <div class="col-md-5">
        <img
          src="{% static 'img/chester-wade.jpg'%}"
          class="img-fluid floating"
        />
        <div class="card card-stats bg-danger">
          <div class="card-body">
            <div class="justify-content-center">
              <div class="numbers">
                <p class="card-title">100%</p>
                <p class="card-category text-white">Safe</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-stats bg-info">
          <div class="card-body">
            <div class="justify-content-center">
              <div class="numbers">
                <p class="card-title">573 K</p>
                <p class="card-category text-white">Satisfied customers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-stats bg-default">
          <div class="card-body">
            <div class="justify-content-center">
              <div class="numbers">
                <p class="card-title">8</p>
                <p class="card-category text-white">Million Dollar Payouts</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="px-md-5">
          <hr class="line-success" />
          <h3>Unmatched Mining Expertise</h3>
          <p>
            At Peak Miners Fx, our team possesses a wealth of experience and
            knowledge in the field of cryptocurrency mining, ensuring
            exceptional results. We offer a diverse range of specialized
            services tailored to meet your unique needs, fostering a seamless
            and successful mining partnership.
          </p>
          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div class="icon icon-success mb-2">
                  <i class="tim-icons icon-vector"></i>
                </div>
                <div class="ml-3">
                  <h6>Precision Mining Solutions</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div class="icon icon-success mb-2">
                  <i class="tim-icons icon-tap-02"></i>
                </div>
                <div class="ml-3">
                  <h6>High-Performance Mining</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div class="icon icon-success mb-2">
                  <i class="tim-icons icon-single-02"></i>
                </div>
                <div class="ml-3">
                  <h6>Dedicated Support Team</h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg">
  <img src="{% static 'img/path4.png'%}" class="path" />
  <img src="{% static 'img/path2.png'%}" class="path2" />
  <div class="col-md-12">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <!-- <ol class="carousel-indicators d-flex justify-content-center">
             <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
           </ol> -->
      <div class="carousel-inner mb-5">
        <div class="carousel-item active">
          <div class="container text-center">
            <small class="d-block text-uppercase font-weight-bold mb-4"
              >Testimonial</small
            >
            <img
              src="{% static 'img/pic1.jpg' %}"
              alt="Raised circle image"
              class="img-fluid rounded-circle shadow-lg"
              style="width: 150px"
            />
            <p class="mt-3">
              "I am thrilled with the outstanding results from Peak Miners Fx.
              Their expertise in cryptocurrency mining is unmatched, and their
              personalized services catered to my unique needs. It's been a
              seamless and successful partnership, and I highly recommend them!"
            </p>
            <p class="font-weight-bold">- Mike, satisfied client</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container text-center">
            <small class="d-block text-uppercase font-weight-bold mb-4"
              >Testimonial</small
            >
            <img
              src="{% static 'img/pic2.jpg'%}"
              alt="Raised circle image"
              class="img-fluid rounded-circle shadow-lg"
              style="width: 150px"
            />
            <p class="mt-3">
              "Peak Miners Fx has been a game-changer for my crypto mining
              journey. Their cutting-edge technology and dedicated support team
              have helped me achieve exceptional returns. I'm beyond satisfied
              with their services!"
            </p>
            <p class="font-weight-bold">- Sarah, enthusiastic miner</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container text-center">
            <small class="d-block text-uppercase font-weight-bold mb-4"
              >Testimonial</small
            >
            <img
              src="{% static 'img/pic3.jpg'%}"
              alt="Raised circle image"
              class="img-fluid rounded-circle shadow-lg"
              style="width: 150px"
            />
            <p class="mt-3">
              "Choosing Peak Miners Fx was the best decision I made for my
              crypto mining venture. Their expertise and professionalism are
              second to none. The results have been exceptional, and I
              confidently recommend them to anyone seeking top-tier mining
              services!"
            </p>
            <p class="font-weight-bold">- John, successful investor</p>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- <div class="card card-chart card-plain">
           <div class="card-header">
             <div class="row">
               <div class="col-sm-6 text-left">
                 <hr class="line-primary">
                 <h5 class="card-category">Total Investments</h5>
                 <h2 class="card-title">Performance</h2>
               </div>
             </div>
           </div>
           <div class="card-body">
             <div class="chart-area">
               <canvas id="chartBig"></canvas>
             </div>
           </div>
         </div> -->
  </div>
</section>
<section class="section section-lg section-coins">
  <img src="{% static 'img/path3.png'%}" class="path" />
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <hr class="line-info" />
        <h1>
          Choose the plan
          <span class="text-info">that fits your needs</span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-coin card-plain">
          <div class="card-header">
            <img
              src="{% static 'img/bitcoin.png' %}"
              class="img-center img-fluid"
            />
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <h4 class="text-uppercase">Peak Gold</h4>
                <span>Plan</span>
                <hr class="line-primary" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item">Min: $300</li>
                <li class="list-group-item">Get x3</li>
                <li class="list-group-item">24/7 Support</li>
              </ul>
            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary btn-simple">Get plan</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-coin card-plain">
          <div class="card-header">
            <img
              src=" {% static 'img/etherum.png'%} "
              class="img-center img-fluid"
            />
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <h4 class="text-uppercase">Peak Platinum</h4>
                <span>Plan</span>
                <hr class="line-success" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item">Min: $2,500</li>
                <li class="list-group-item">Get x5</li>
                <li class="list-group-item">24/7 Support</li>
              </ul>
            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-success btn-simple">Get plan</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-coin card-plain">
          <div class="card-header">
            <img
              src="{% static 'img/ripp.png'%}"
              class="img-center img-fluid"
            />
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <h4 class="text-uppercase">Peak Diamond</h4>
                <span>Plan</span>
                <hr class="line-info" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item">Min: $50,000</li>
                <li class="list-group-item">Get x10</li>
                <li class="list-group-item">24/7 Support</li>
              </ul>
            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-info btn-simple">Get plan</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
